body {
    font-family: Arial;
    background: #eef2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #4c6ef5;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #364fc7;
}
